
%montserrat-300{
    font-family: 'Montserrat-Light';
    font-weight: 300;
}
%montserrat-400{
    font-family: 'Montserrat-Regular';
  font-weight: 400;
}
%montserrat-500{
    font-family: 'Montserrat-Medium';
  font-weight: 500;
}
%montserrat-600{
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
}